<div class="row">
    <div class="col-sm">
        <form method="POST" action="/result">
            <div class="form-group mb-4">
                <label for="keyword">Enter Keywords or a phrase to search for.</label>
                <input type="text" name="q" id="keyword" class="form-control" placeholder="keywords" required>
            </div>

            <label for="keyword">Select the country you want to get headlines for</label>
            <div class="form-row">
                <div class="form-check for">
                    <input class="form-check-input align-middle" type="radio" name="country" id="country_cn" value="cn" required>
                    <label class="form-check-label align-middle" for="country_cn">
                        <img src="/images/cn.png" alt="">
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="country" id="country_fr" value="fr">
                    <label class="form-check-label" for="country_fr">
                        <img src="/images/fr.png" alt="">
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input align-middle" type="radio" name="country" id="country_jp" value="jp">
                    <label class="form-check-label align-middle" for="country_jp">
                        <img src="/images/jp.png" alt="">
                    </label>
                </div>
            </div>
            <div class="form-row mb-4">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="country" id="country_sg" value="sg">
                    <label class="form-check-label" for="country_sg">
                        <img src="/images/sg.png" alt="">
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="country" id="country_uk" value="uk">
                    <label class="form-check-label" for="country_uk">
                        <img src="/images/uk.png" alt="">
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="country" id="country_us" value="us">
                    <label class="form-check-label" for="country_us">
                        <img src="/images/us.png" alt="">
                    </label>
                </div>
            </div>
            <label for="keyword">Select the category you want to get headlines for</label>
            <select class="custom-select custom-select-md mb-4" name="category">
                <option value="business" selected>Business</option>
                <option value="entertainment">Entertainment</option>
                <option value="general">General</option>
                <option value="health">Health</option>
                <option value="science">Science</option>
                <option value="sports">Sports</option>
                <option value="technology">Technology</option>
            </select>
            <button type="submit" class="btn btn-secondary btn-md btn-block">Search</button>
        </form>
    </div>
    <div class="col-sm"></div>
</div>